@font-face {
    font-family: StratosSkyeng;
    src:
        url('/img/fonts/stratosskyengweb-regular.woff') format('woff1'),
        url('/img/fonts/stratosskyengweb-regular.woff2') format('woff2');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: StratosSkyeng, sans-serif;
    background-color: #004980;
}

.count-body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count {
    margin: 0 auto;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background-color: #c2f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.count-text {
    width: 208px;
    height: 96px;
    overflow: hidden;
    font-size: 40px;
    line-height: 48px;
    color: #004980;
    text-align: center;
}

.count-button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    background-color: #7ac100;
    color: #fff;
    font-size: 24px;
    text-align: center;
    border: none;
    box-shadow: 0 3px 3px black;
}

.prod-checbox strong {
    font-size: 14px;
    color: #333;
    display: inline-block;
    letter-spacing: 0.5px;
}

.radio-toolbar input[type='radio'] {
    display: none;
}

.radio-toolbar label {
    display: inline-block;
    padding: 2px 9px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 12px;
    font-size: 64px;
    width: 96px;
    height: 98px;
    text-align: center;
    margin: 10px;
}

.radio-toolbar label:hover {
    background-color: #b9ea2c;
    border: 1px solid #b9ea2c;
}

.radio-toolbar input[type='radio']:checked + label {
    background-color: #00c2ff;
    border: 1px solid #00c2ff;
    color: #fff;
}

.level {
    display: flex;
    height: 91px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
    max-width: 750px;
    margin: auto;
}

.time {
    width: 155px;
    height: 91px;
    margin-right: 250px;
}

.report {
    width: 155px;
    display: flex;
    justify-content: end;
    gap: 65px;
}

.counter {
    color: #fff;
    font-size: 64px;
}

.watch {
    color: #fff;
    font-size: 16px;
}

.start-over {
    width: 246px;
    height: 40px;
    border-radius: 12px;
    background-color: #7ac100;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

.cards {
    width: 95px;
    height: 133px;
    margin: 7.5px;
    border-radius: 4px;
}

.shirt-cards {
    width: 95px;
    height: 133px;
    margin: 7.5px;
}

.app-cards {
    display: flex;
    justify-content: center;
    max-width: 750px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.app-game {
    margin: 0 auto;
}

.new-cards {
    display: none;
}

.newcards {
    display: block;
}

/* .color {
    width: 100px;
    height: 100px;
    background-color: red;
} */

.app-result-win {
    margin: auto;
    margin-top: 158px;
    width: 480px;
    height: 459px;
    border-radius: 12px;
    background-color: #c2f5ff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.result-header {
    width: 310px;
    height: 48px;
    font-size: 40px;
    line-height: 48px;
    color: #004980;

    /* font: StratosSkyeng; */
    margin-bottom: 28px;
    margin-left: 32px;
}

.rusult-img {
    margin-top: 31px;
    height: 96px;
    width: 96px;
    margin-bottom: 10px;
    margin-left: 24px;
}

.time-spent {
    width: 230px;
    height: 32px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000;
}

.time-watch {
    width: 155px;
    height: 72px;
    font-size: 64px;
    margin-bottom: 40px;
}

.btn-new-game {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    background-color: #7ac100;
    color: #fff;
    font-size: 24px;
    box-shadow: 0 3px 3px black;
}

.ass-cards {
    opacity: calc(0.6);
}
